.game-box {

  background-color: #222;
  overflow: auto;
}




.row-container {
  display: flex;
}

.player {
  align-items: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.player:not(.current-player) .hand {
  filter: blur(7px);
}


.hand {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  overflow-x: auto; /* Enable horizontal scrolling */
  flex-wrap: nowrap; /* Prevent cards from wrapping to the next line */
}

.board {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  overflow-x: auto; /* Enable horizontal scrolling */
}

.board-main {
  border: 3px solid #000;
}

.hand-slot,
.board-slot {
  width: 120px;
  height: 180px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.board-slot {
  position: relative;
}


.board-slot .empty-slot {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #d3d3d3;
  border-radius: 10px;
}

.card {
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
  text-align: center;
  border-radius: 10px;
  position: relative;
}

.hp {
  margin-bottom: 10px;
}

button {
  font-size: 16px;
  cursor: pointer;
}


.card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.deck-image {
  width: 100px;
  height: auto;
  
}


.card.sacrificing {
  filter: grayscale(100%);
}


.turn-info {
  background-color: #222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.turn-info h4 {
  font-family: "Courier New", monospace;
  font-size: 24px;
  color: #ffbf00; /* Inscryption's gold/yellow color */
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
}

.turn-info h5 {
  font-family: "Courier New", monospace;
  font-size: 18px;
  color: #ffbf00; /* Inscryption's gold/yellow color */
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}



.hand-slot {
  /* Add the following properties */
  transition: transform 0.3s ease-in-out;
}


.hand-slot:hover {
  /* Add the hover effect */
  transform: scale(1.05);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}



@keyframes slide-in {
  0% {
    transform: translateX(-200px) rotate(-90deg); /* Start offscreen and rotated */
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotate(0); /* End in final position and upright */
    opacity: 1;
  }
}

.hand-slot {
  /* Add the following properties */
  transition: transform 0.3s ease-in-out;
  /* Set animation duration to 0.5s and delay to 0s by default */
  animation: slide-in 0.5s ease-out 0s both; 
}

/* Increase the delay for each subsequent card */
.hand-slot:nth-child(2) {
  animation-delay: 0.1s;
}

.hand-slot:nth-child(3) {
  animation-delay: 0.2s;
}

.hand-slot:nth-child(4) {
  animation-delay: 0.3s;
}

/* And so on... */

.hand-slot:hover {
  /* Add the hover effect */
  transform: scale(1.05);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.hand {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;  /* If you want cards to wrap to the next line when the width gets too small */
  overflow: auto;  /* Add scroll if cards wrap and extend beyond container height */
}


.card-drawn{
  animation: pop-out 0.5s forwards;
}

@keyframes pop-out {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}

button:active .end-turn-button svg {
  transform: translateY(2px);
}


.card-bounce-down {
  animation-name: cardBounceDown;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}

@keyframes cardBounceDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(40px);  /* Increase this to make the bounce lower */
  }
  70% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);  /* Keep the card at the bottom after the bounce */
  }
}



.card-bounce-up {
  animation-name: cardBounceUp;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}

@keyframes cardBounceUp {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-40px);  /* Increase this to make the bounce higher */
  }
  70% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);  /* Keep the card at the top after the bounce */
  }
}

.shake {
  animation: shake 0.5s linear;
}

@keyframes shake {
  0% { transform: translate(0); }
  10% { transform: translate(-2px, 2px); }
  20% { transform: translate(2px, -2px); }
  30% { transform: translate(-2px, -2px); }
  40% { transform: translate(2px, 2px); }
  50% { transform: translate(-2px, 2px); }
  60% { transform: translate(2px, -2px); }
  70% { transform: translate(-2px, -2px); }
  80% { transform: translate(2px, 2px); }
  90% { transform: translate(-2px, 2px); }
  100% { transform: translate(0); }
}


.player1-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


.player1-stats button:hover {
  background-color: #666;
}

.player1-stats h3 {
  font-size: 24px; /* Adjust the desired font size */
}


.player1-stats button {
  display: block;
  width: 100%;
  padding: 8px 16px;
  font-family: "Courier New", monospace;
  font-size: 20px;
  background-color: #444;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  
}


.player2-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}



.player2-stats button {
  display: block;
  width: 100%;
  padding: 8px 16px;
  font-family: "Courier New", monospace;
  font-size: 20px;
  background-color: #444;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  
}

.player2-stats button:hover {
  background-color: #666;
}

.player2-stats h3 {
  font-size: 24px; /* Adjust the desired font size */
}



.end-turn-container {
  display: flex;
  justify-content: center;
  margin-left: auto;
}

.selected-card img {
  background-color: yellow;
  transform: scale(1.1); /* This makes the image slightly larger */
  transition: transform 0.3s ease-in-out; /* This animates the change */
}

.squirrel-deck-count {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  padding: 4px 8px;
  font-size: 50px;
  font-weight: bold;
  border-radius: 4px;
  z-index: 1;
  -webkit-text-stroke: 2px white;
}

.deck {
  position: relative;
  padding: 10px;
}

.deck-content {
  position: relative;
}

.deck-count {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  padding: 4px 8px;
  font-size: 50px;
  font-weight: bold;
  border-radius: 4px;
  z-index: 1;
  -webkit-text-stroke: 2px white;
}

.balance-scale {
  position: relative;
  width: 400px;
  height: 20px;
  background-color: #f0f0f0;
  border: 2px solid #333;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 10px; /* Add border-radius for curved edges */
}

.balance-scale-bar {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  border-left: 1px solid #333;
  border-radius: 50px; /* Add border-radius for curved edges */
}

.balance-scale-fill {
  position: absolute;
  top: 0;
  width: 0;
  height: 100%;
  background-color: green;
  transition: all 0.5s ease-in-out;
  border-radius: 10px; /* Add border-radius for curved edges */
}

.negative {
  background-color: red !important;
  left: 50%;
}

.balance-scale-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
}

.game-over {
  filter: blur(8px);
  pointer-events: none;
}

.game-over-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure the popup is displayed on top of all other elements */
}

.blur-background {
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.game-over-box {
  background-color: #202020;
  color: #ffffff;
  border-radius: 10px;
  padding: 40px;
  text-align: center;
  z-index: 10000;
  width: 200px;
  height: 200px;
}

.game-over-box h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.game-over-box p {
  font-size: 18px;
  margin-bottom: 30px;
}

.game-over-box button {
  background-color: #ff3366;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.game-over-box button:hover {
  background-color: #ff0044;
}

